<app-topbar title="List of analyzes"></app-topbar>
<div class="d-flex flex-column">
  <div class="row align-self-center w-75 mt-4">
    <div class="col-12 table-responsive">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">File name</th>
            <th scope="col">Status</th>
            <th scope="col">Raports?</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of analysisData">
            <td>{{item.ID}}</td>
            <td>{{item.fileName}}</td>
            <td>{{item.status}}</td>
            <td>
              <button class="btn btn-primary">
                Raports
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>