<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first">
      <h1>Registration</h1>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <input type="text" class="input-form fadeIn second" 
      formControlName="username" placeholder="username">
      <input type="password" class="input-form fadeIn third" 
      formControlName="password" placeholder="password">
      <input type="password" class="input-form fadeIn third" 
      formControlName="confirmPassword" placeholder="confirm password">
      <button class="button-submit fadeIn fourth"
      type="submit" [disabled]="!registerForm.valid">Sign up</button>

      <p *ngIf="registerForm?.hasError('user-exists')" class="warning-text">
        Such user already exists!
      </p>
      <p *ngIf="registerForm?.hasError('invalid-credentials')" class="warning-text">
        Problem with credentials or bad connection!
      </p>
      <p *ngIf="redirect" class="info">
        Success! You will be redirect to login page in few seconds...
      </p>
    </form>
  </div>
</div>