.start-button {
  margin: auto 0px auto auto;
}
  
.table-row {
  cursor: pointer;
}
  
.selected-row td {
  background: #bbbbbb !important;
}

.loading-spinner {
  transform: scale(0.5);
  margin-left: auto;
  margin-right: auto;
}