<app-topbar title="New analysis"></app-topbar>
<div class="d-flex flex-column">
  <mat-spinner *ngIf="isLoading" 
  class="loading-spinner row align-self-center w-40 mt-2"></mat-spinner>
  <ng-container *ngIf="!isLoading">
    <div class="row align-self-center w-40 mt-2">
      <div class="col-12">
        <app-upload-file [type]="uploadFileType"
        (isFileUploaded)="isFileUploadedHandler($event)">
        </app-upload-file>
      </div>
    </div>
    <div class="row col-12 align-self-center w-50 mt-4">
      <button [ngClass]="{'btn-success': !startButtonDisabled, 'btn-secondary': startButtonDisabled}" 
      class="btn start-button" [disabled]="startButtonDisabled"
      (click)="startAnalysis()">Start analysis</button>
    </div>
    <div class="row col-12 w-50 align-self-center mt-2 table-responsive">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">File name</th>
            </tr>
          </thead>
          <tbody>
            <tr [ngClass]="{'selected-row': item === selectedRow}"
            class="table-row"
            (click)="toggleRow(item)"
            *ngFor="let item of uploadedFiles">
              <td>{{item.name}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </ng-container>  
</div>