<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first">
      <h1>Sign in</h1>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <input type="text" class="fadeIn second" 
      formControlName="username" placeholder="username">
      <input type="text" class="fadeIn third" 
      formControlName="password" placeholder="password">
      <button class="button-submit fadeIn fourth"
      type="submit" [disabled]="!loginForm.valid">Log in</button>
      <p *ngIf="credentialsError" class="warning">Wrong username or password!</p>
    </form>

    <div id="formFooter">
      <a class="underlineHover" routerLink="/register">Don't have account?  Sign Up</a>
    </div>

  </div>
</div>